vcd_user = ""

vcd_org                   = ""
vcd_vdc                   = ""
vcd_url                   = "https://----------------------------------/api"
vcd_external_network_ip   = "xx.xxx.xxx.xxx"
vcd_external_network_name = "ISP-xx.xxx.xxx.x"

vcd_allow_unverified_ssl = false

#edge_gateway = "edge-gateway"

network_name        = "net-"
ocp_subnet          = "xxx.xx.xx.x/24"
vcd_network_gateway = "xxx.xx.x.x"
vcd_network_prefix  = "24"
vcd_network_dns1    = "x.x.x.x"
vcd_network_dns2    = "x.x.x.x"

shared_subnet  = "xxx.xx.xx.x/26"
shared_gateway = "xxx.xx.x.x"
shared_prefix  = "24"
shared_dns1    = "x.x.x.x"
shared_dns2    = "x.x.x.x"
jumpbox_ip     = "xxx.xx.x.xx"
ns_ips         = ["xxx.xx.x.xx"]

frontend_subnet  = "xxx.xx.xxx.x/24"
frontend_gateway = "xxx.xx.xxx.x"
frontend_prefix  = "26"
frontend_dns1    = "x.x.x.x"
frontend_dns2    = "x.x.x.x"
helper_enabled   = false
helper_ip        = "xxx.xx.xx.x"
helper_tmpl      = "helper-vapp"
lbvip_ip         = "xxx.xx.xxx.x"
lb_ips           = ["xxx.xx.xxx.x"]

vault_enabled = true
vault_subnet  = "xxx.xx.x.x/24"
vault_gateway = "xxx.xx.x.x"
vault_prefix  = "24"
vault_dns1    = "x.x.x.x"
vault_dns2    = "x.x.x.x"
vault_ips     = ["xxx.xx.x.xx", "xxx.xx.x.xx", "xxx.xx.x.xx"]

fw_allow_ssh_source = [
  "64.187.176.220",  # Jumpbox outbound ip
  "xxx.xx.xx.x",    # USER
]

catalog_paas = "Catalog"

